.questions {
	padding: 70px 0px;
	background-image: url("../img/background2.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.questions__container {
 	max-width: px;
	padding: 0px 30px;
	margin: 0 auto;
}
.questions__wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}


.questions__title {
	margin-bottom: 17px;
	font-weight: 700;
	font-size: 35px;
	line-height: 34px;
	
	color: #FFFFFF;

}
.questions__paragraph {
		margin-bottom: 50px;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		color: rgba(255, 255, 255, 0.8);
	}
.questions__box {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-bottom: 50px;
	gap: 21px;
	
}
.questions__button {
	margin-bottom: 50px;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	background: #15A9CB;
	box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
	border-radius: 50px;
	width: 218px;
	height: 48px;
	border: none;

}
.questions__agreement {

	font-size: 20px;
	line-height: 23px;
	
	color: #FFFFFF;

}

.questions__link {
	color:#4A76A8;
	text-decoration: underline;
}

.questions__input {
	width: 423px;
	height: 44px;
	border: 1.38235px solid #FFFFFF;
	border-radius: 50px;
	background-color: transparent;
	padding-left: 25px;
	
	font-size: 22px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.5);
}

            
/*------------------------------media query max-width 1024px------------------------*/

@media (max-width: 1024px) {
	.questions__title {
		font-size: 32px;
		line-height: 38px;
	}

	.questions__paragraph {
		font-size: 20px;
		line-height: 23px;
	}

	.questions__input {
		width: 377px;
		height: 39px;
	}
	.questions__agreement {
		font-size: 17px;
		line-height: 20px;
	}

}

@media(max-width: 580px) {
	.questions {
		background-position: center center;
		background-size:cover;
	}

	.questions__button {
		max-width: 174px;
		height: 38px;
		font-size: 16px;
	}
}



/*-------------------медиа questions под 320 --------------*/


